*{
    padding: 0;
    margin: 0;
}
body {
    background: blueviolet;
}
.wrapper {
}
.container {
    width: 1200px;

}
.sidebar {
    width: 200px;
    height: 600px;
    float: left;
    background: blue;
}
.content {
    width: 800px;
    height: 600;
    float: right;
    position: relative;
}
.clear {
    clear: both;
}
#logo  {
    float: left;
    width: 200px;
    height: auto;
}
#logo img {
    max-width: 100%;
    height: auto;

}