.wrapper {
    background: #3d5afe;
}
.container {
    width: 1200px;
    margin: auto;
}
.sidebar {
    width: 1200px;
    height: 600px;
    background: blueviolet;
    float: left;

}
.content {
    width: 800px;
    height: 600px;
    background: #3d5afe;
    float: right;
}